body{
  margin-top: 100px;
}

div, input{
  box-sizing: border-box;
}

.signup-style{
  width:50%;
  background-color: white;
  padding: 40px;
  margin: auto;
  border: 1px solid lightblue
}

.signup-style input{
  width: 100%;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 6px;
}

#border-style-top{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#border-style-bottom{
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#width-50{
  width: 50%;
  float: left;
  padding: 10px;
}

#width-60{
  padding-top: 20px;
  width: 50%;

}

.signup-style input[type=submit]{
  background-color: lightblue;

}

.signup-style input[type=submit]:hover,
.signup-style input[type=submit]:active,
.signup-style input[type=submit]:focus{
  background-color: cadetblue;
  color: white;
}

span{
  font-size: 12px;
  margin-right: 100px;
}

div input[type=submit]{
  margin-top: 40px;
}

.clear-both{
  clear:both;
}