/* css: cascading style sheet */
.round-image{
  width: 200px;
  height:130px;
  display:block;    
  margin-left:auto;
  margin-right: auto; 
  border-radius: 20px;
}
.h3-style{
  text-align: center;
}
.p-style{
  text-align: center;
  color: gray;
  font-size: 14px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.div-style{
  text-align: center;
}