.nav li{
  display: inline-block;
  width: auto;
  text-align: center;
}

a, a:visited, a:link, a:focus, a:active{
  text-decoration: none;
  background-color: beige;
  padding: 15px;
  padding-bottom: 30px;
}

a:hover{
  text-decoration-line: underline;
  color: rgb(63, 104, 63);
  background-color: black;
}

.backimg-style{
  width: 100%;
  height: 300px;
  background-color: beige;
}

.h3-style{
  color: lightgreen;
  font-size: 30px;
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
}

.h4-style{
  color: rgb(63, 104, 63);
  font-size: 20px;
  position: relative;
  margin-top: -20px;
  margin-bottom: 10px;
  margin-left: 120px;

}

.button-style{
  border-radius: 5px;
  width: 120px;
  height: 40px;
  position: relative;
  margin-left: 110px;
  
}

button:hover{
  text-decoration-line: underline;
  color: white;
  background-color: darkolivegreen;
}