body{
  margin: 0;
}

div, textarea{
  /* border:  1px solid yellowgreen; */
  box-sizing: border-box;
}

.nav li{
  display: inline-block;
  width: 60px;
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  
}

a, 
a:link, 
a:visited,  
a:active,
a:focus{
  text-decoration: none;
  font-size: 16px;
}

a:hover{
  text-decoration: none;
  color: greenyellow;
  font-size: 16px;
}

.back-img{
  background-image: url(../imges/img.jpg);
  width:100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-title{
  color: aliceblue;
  font-size: 24px;
  text-align: center;
}

.img-contents{
  color: aliceblue;
  font-size: 17px;
  text-align: center;
}

.img-button{
  /*  position: relative  - 원래 위치를 기준으로 이동 
      position: absolute  - 부모를 기준으로 이동
  */

  position: relative;
  position:  absolute;
  margin-left: 200px;
  top: 200px
}

.target{
  background-color: black;
  color: white;
  width: 200px;
  position: relative;
  margin-left: 250px;
  margin-top: -90px;
}

.input-class{
  width: 200px;
}

.input-class input{
  box-sizing: border-box;
}

.input-class input[type=text],
.input-class input[type=number]{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid blueviolets;
  border-radius: 15px;
}

.my-table{
  border-collapse: collapse;
}

.my-table tr td{
  border: 1px solid black;
}